# Mapbox
VITE_MAPBOX_TOKEN=your_mapbox_token_here

# Map Defaults
VITE_MAP_CENTER_LNG=81.0
VITE_MAP_CENTER_LAT=22.5
VITE_MAP_ZOOM=4.2

# API Proxy
VITE_PROXY_TARGET=http://127.0.0.1:8000

# Enable Mobile GPS Tracking
VITE_ENABLE_MOBILE_GPS=false
# Google Maps Base URL
VITE_GOOGLE_MAPS_BASE_URL=https://www.google.com
# Mapbox Geocoding API Base URL
VITE_MAPBOX_GEOCODING_URL=https://api.mapbox.com/geocoding/v5/mapbox.places
